data/
*.pt
*.pth
*.weights
*.log
*.Identifier
*.tar
# Bỏ qua các file rác của môi trường Python
__pycache__/
*.pyc
.env
venv/
output/
env/
mmcv/
smplpytorch/
ViTPose/
courtyard_arguing_00/
experiment/
outdoors_climbing_02/
PoseMamba/